#kaocha/v1 {:tests                    [{:id                      :clj
                                        :type                    :kaocha.type/clojure.test
                                        :kaocha.filter/skip-meta [:integration]}
                                       {:id                       :clj-integration
                                        :type                     :kaocha.type/clojure.test
                                        :kaocha.filter/focus-meta [:integration]}
                                       {:id   :cljs-node
                                        :type :kaocha.type/cljs}
                                       {:id            :cljs-browser
                                        :type          :kaocha.type/cljs
                                        :cljs/repl-env cljs.repl.browser/repl-env}]
            :capture-output?          true
            :kaocha.filter/focus-meta [:focus]
            :plugins                  [:kaocha.plugin/hooks :io.jesi.customs.strict.kaocha/plugin]
            :kaocha.hooks/pre-run     [;Clears output and scroll-back between test runs
                                       (fn [test-plan]
                                         (print "\u001b[2J\u001b[H\033[3J")
                                         (flush)
                                         test-plan)]}
